html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


.container {
	width: 980px;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.header {
	font-size: 60px;
	color: #000;
	background-color: #ddd;
}

.navbar {
	background-color: #000;
}

.navbar-menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	padding: 0;
}

.navbar-menu li a {
	text-align: center;
	display: block;
	text-decoration: none;
	padding: 10px 5px;
	color: #fff;
}


.input_second {

	height: 30px;
	width: 80%;
	border: none;
	background-color: rgb(174, 149, 149);
	border-bottom: 1px solid black;
}


.footer {
	margin-top: 30px;
	color: #000;
	height: 40px;
	background: linear-gradient(to bottom right, #b1b1e1, pink);
	color: #fff;
	text-align: center;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.btn {
	height: 40px;
	width: 90px;
	margin: 10px 0;
	border-radius: 5px;
}

table {
	border: 1px solid rgb(174, 149, 149);
	width: 100%;
}


.row {
	text-align: center;
	color: #000;
	background-color: #ddd;
}


.row1 {
	color: #000;
	font-size: 20px;
	text-align: center;

}

/*th:nth-child(1) {
	width: 30px;
}
*/
img {
	width: 200px;
	height: 100px;
	max-width: 100%;
}

.main {
	max-width: 80%;
	margin: auto;
	background-color: rgb(174, 149, 149);
	padding-left: 80px;
}

.main h2 {
	text-align: center;
	font-size: 30px;
	padding: 10px;
	font-variant: small-caps;
}

.type {
	padding: 10px 10px;
	background-color: rgb(174, 149, 149);
}

.input_submit a {
	text-decoration: none;
	color: black;
}

.btn_delete {
	background-color: red;
	color: white;
	/* border: none; */
	padding: 5px 10px;
	border-radius: 5px;
}

.btn_edit {
	padding: 5px 15px;
	border-radius: 5px;
}